* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1103px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: blue;
}
html {
  scroll-behavior: smooth;
}
