@media (max-width: 670px) {
  .card-item {
    display: none;
  }
}
@media (max-width: 580px) {
  .card-a {
    display: none;
  }
  .card-btn {
    display: block;
  }
}
@media (max-width: 975px) {
  .home-div {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .contact-div2 {
    flex-direction: column;
  }
}
